# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#clion
.idea
cmake-build-debug
/.vs
/CMakeFiles
/fem_itmo.dir/Debug
/x64/Debug/ZERO_CHECK
/ZERO_CHECK.vcxproj.user
/ZERO_CHECK.vcxproj.filters
/ZERO_CHECK.vcxproj
/INSTALL.vcxproj.user
/INSTALL.vcxproj.filters
/INSTALL.vcxproj
/fem_itmo.vcxproj.user
/fem_itmo.vcxproj.filters
/fem_itmo.vcxproj
/fem_itmo.sln
/cmake_install.cmake
/CMakeCache.txt
/ALL_BUILD.vcxproj.user
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj
/build